<div id="c4g_list_<?php $this->id?>" class="c4g_list_container">
    <?php if ($this->headerGallery !== null) {
    } ?>
    <?php if ($this->headline) {
    ?><h1 class="c4g_list_headline"><?php $this->headline; ></h1>}
    ?>
    <ul>
       <?php
       $array = $this->defaultList;
       foreach ($array as $entry) {
            ?>
            <li class="c4g_list_item">
                <a href="<?php $entry['href']?>">
                    <?php $entry['caption']?>
                </a>
            </li>
            <?php
       }
       ?>
    </ul>
</div>