.c4g__form-check {
  @extend .form-check;
  line-height: initial;
}

.c4g__form-check-input {
  @extend .form-check-input;
  margin-top: 0;
  min-width: 1em;
}

.c4g__form-label-multicheckbox {
  @extend .form-check-label;
}

.c4g__form-check-label {
  @extend .form-check-label;
}

.c4g__form-switch {
  @extend .form-switch;
}
