.c4g_brick_dialog .c4g_gallery .c4g_gallery_images {
  display: flex;
  justify-content: left;//space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.c4g_brick_dialog .c4g_gallery .c4g_gallery_images img {
  padding-right: 5px;
}
.c4g_gallery_description p.c4g_field_description {
  margin-left: 0px;
  margin-right: 0px;
}
.c4g_brick_dialog .c4g_image {
  text-align: center;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
}
.c4g_brick_dialog .c4g_image .c4g_image_src, .c4g_brick_dialog .c4g_image .c4g_image_label, .c4g_brick_dialog .c4g_image .c4g_image_description {
  text-align: left;
  max-width: 100%;
  height: auto;
}
.c4g_brick_dialog .c4g_image_label label  {
  margin-left: 0px;
}

.c4g_preview_image {
  max-width: 100px;
  max-height: 100px;
}

